
table.stackable-xs, table.stackable-sm {
    display: block;
}
table.stackable-xs tbody, table.stackable-sm tbody {
    display: block;
}

table.stackable-xs tr, table.stackable-sm tr {
    display: block;
}

table.stackable-xs td, table.stackable-sm td {
    display: block;
}

/* Small devices (tablets, 768px and up) */
@media(min-width:768px) {
    table.stackable-xs {
        display: table;
    }
    table.stackable-xs tbody {
        display: table-row-group;
    }
    table.stackable-xs tr {
        display: table-row;
    }
    table.stackable-xs td {
        display: table-cell;
    }
}

/* Small devices (tablets, 768px and up) */
@media(min-width:992px)  {
    table.stackable-sm {
        display: table;
    }
    table.stackable-sm tbody {
        display: table-row-group;
    }
    table.stackable-sm tr {
        display: table-row;
    }
    table.stackable-sm td {
        display: table-cell;
    }
}

table.unstackable {
    display: table;
}
table.unstackable tbody {
    display: table-row-group;
}
table.unstackable tr {
    display: table-row;
}
table.unstackable td {
    display: table-cell;
}
