<head>
    <title>Wisdom of Crowds | Welcome</title>
</head>
<div class="container-fluid welcome" ng-if="!waitForHitAccept">
    <div class="row header-row">
        <div class="col-md-12 text-center">
            <img src="https://dzpz27bktbdd8.cloudfront.net/img/welcome-title.png"/>
        </div>
    </div>
    <div class="row bee-row">
        <div class="col-md-4 left-bees side-bees hidden-sm hidden-xs">
            <img src="https://dzpz27bktbdd8.cloudfront.net/img/welcome-left-bees.png" class="center-block"/>
        </div>
        <div class="col-md-4 main-bee">
            <img src="{{animatedBeePath()}}" class="center-block"/>
        </div>
        <div class="col-md-4 right-bees side-bees hidden-sm hidden-xs">
            <img src="https://dzpz27bktbdd8.cloudfront.net/img/welcome-right-bees.png" class="center-block"/>
        </div>
    </div>
    <div class="row button-row">
        <div class="col-md-offset-4 col-md-4 bee-number-message text-center">
            <a class="btn blue btn-block" ng-click="start()" ng-disabled="stateRestored">
                {{nextButtonText}}
            </a>
        </div>
    </div>
</div>

<div ng-if="waitForHitAccept">
    <center>
        <br/><br/><br/><br/>
        <h1>
            Please Accept the HIT
        </h1>
    </center>
</div>
