<div ng-switch="question.questionType" class="height-50 question-media text-center {{question.questionType}}" ng-class="{'with-stats': hasStats()}">

	<img ng-switch-when="image" src="{{question.data}}" class="media-box" />

    <div ng-switch-when="text" class="media-box" >
        {{ question.data }}
    </div>

	<audio autoplay controls ng-switch-when="audio" class="media-box">
		  <source src="{{question.data}}" type="audio/mpeg">
	</audio>

	<video autoplay controls ng-switch-when="video" class="media-box">
		  <source src="{{question.data}}" type="video/mp4">
	</video>
</div>

<div class="height-50" ng-include="'views/challenge/_stats.html'" ng-if="previousResponses !== undefined && previousResponses.length > 0"></div>