
<div class="response-scrollable" ng-class="{disabled: timeLeft === 0}">
    <div class="white overlay animate quick-fade" ng-if="timeLeft === 0"></div>
    <div class="va-outer width-100 height-30">
        <div class="va-center">
            <div class="answer-label">Answer</div>
            <div ng-if="question.type === 'select' || question.type === 'mcq'" >
                <a class="btn grey answer-button"
                   ng-repeat="answer in answers track by $index"
                   ng-click="selectAnswer(answer)"
                   ng-class="{active: answer === selectedAnswer, first: $index % 2 == 0}">
                    {{answer}}
                </a>
            </div>
            <div ng-if="question.type === 'text' || question.type ==='int'">
                <input ng-model="answers.selectedAnswer" type="number" class="white answer-input"/>
                <!-- store selected units in localStorage to remember user preferred units
                <div class="custom-select unit-select">
                    <select ng-model="localStorage.selectedUnits">
                        <option value="m2">m2</option>
                    </select>
                </div>
                -->
            </div>
        </div>
    </div>

    <div class="va-outer width-100 height-30">
        <div class="va-center">
            <div class="confidence-label">How confident are you?</div>
            <table class="confidence-table">
                <tr>
                    <td ng-repeat="cl in confidenceLevels">
                        <img class="confidence-icon" ng-src="https://dzpz27bktbdd8.cloudfront.net/img/confidence/{{cl}}.png"
                             ng-class="{active: cl === selectedCL}"
                             ng-click="setCL(cl)"/>
                    </td>
                </tr>
            </table>
            <div>
                <div class="cl-unsure">Clueless</div>
                <div class="cl-confident">Certain</div>
            </div>
        </div>
    </div>
</div>