<head>
    <title>{{SITE_NAME}} | Challenge Completed!</title>
</head>

<div class="slide done">
    <div class="backdrop">
        <div class="hidden-xs hidden-sm text-center new-challenge-row" ng-hide="roundsCompleted === 50">
            <a ng-if="!onMTurk" class="btn blue new-challenge-button" ng-click="startNewChallenge()">
                <div class="left triangle"></div>
                <div class="right triangle"></div>
                Start the next round
            </a>
            <form ng-if="onMTurk" id="mturk_form" method="post" action="{{submitURL}}">
                <input type="hidden" name="foo" value="bar" id="user_id" />
                <input type="hidden" name="assignmentId" value="{{assignmentId}}" />
                <button class="btn blue new-challenge-button" type="submit" value="Submit">
                    <div class="left triangle"></div>
                    <div class="right triangle"></div>
                    Submit HIT
                </button>
            </form>
        </div>


    </div>
    <div class="grey-backdrop hidden-sm hidden-xs"></div>
    <div class="row header-row">
        <div class="col-md-12 text-center">
            <h1 class="cursive" ng-show="beeWasUnlocked">
                Congratulations, you are now a {{xlocalstorage.get('beeName')}}!
            </h1>
            <h1 class="cursive" ng-hide="beeWasUnlocked">
                Well done, {{xlocalstorage.get('beeName')}}!
            </h1>
        </div>
    </div>
    <div class="row height-60">
        <div class="col-md-4 text-center next-bee-col hidden-md hidden-lg">
            <img class="next-bee" ng-src="{{animatedBeePath()}}"/>
            <br><br><br><br>
            <div class="text-center new-challenge-row" ng-hide="roundsCompleted === 50">
            <a ng-if="!onMTurk" class="btn blue new-challenge-button" ng-click="startNewChallenge()">
                <div class="left triangle"></div>
                <div class="right triangle"></div>
                Start the next round
            </a>
            <form ng-if="onMTurk" id="mturk_form" method="post" action="{{submitURL}}">
                <input type="hidden" name="foo" value="bar" id="user_id" />
                <input type="hidden" name="assignmentId" value="{{assignmentId}}" />
                <button class="btn blue new-challenge-button" type="submit" value="Submit">
                    <div class="left triangle"></div>
                    <div class="right triangle"></div>
                    Submit HIT
                </button>
            </form>
        </div>
        </div>
        <div class="col-md-4 results-col">
            <div ng-include="'views/challenge/_results.html'"></div>
        </div>
        <div class="col-md-4 text-center next-bee-col hidden-xs hidden-sm">
            <img class="next-bee" ng-src="{{animatedBeePath()}}"/>
        </div>
        <div class="col-md-4 text-center achievement-col">
            <div>
                <strong ng-show="beeWasUnlocked && xlocalstorage.get('roundsCompleted') < 50">
                    One achievement unlocked!
                </strong>
                <strong ng-show="xlocalstorage.get('roundsCompleted') === 50">
                    All achievements unlocked!
                </strong>
                <strong ng-show="!beeWasUnlocked && hasNextBeeToUnlock">
                    {{roundsToUnlockNextBee}} more
                    <span ng-show="roundsToUnlockNextBee === 1">
                        round
                    </span>
                    <span ng-hide="roundsToUnlockNextBee === 1">
                        rounds
                    </span>
                    to unlock the next bee!
                </strong>
            </div>
            <img ng-src="{{achievementImagePath()}}"/>
        </div>
    </div>

</div>
