<head>
    <title>{{SITE_NAME}} | Start of Challenge</title>
</head>

<div class="slide start">
    <div class="row header-row height-20">
        <div class="col-md-2 text-center back-col">
        </div>
        <div class="col-md-8 text-center">
            <h1>
                <span class="blue-text" ng-bind-html="domainInfo"></span>
            </h1>
        </div>
    </div>

    <div class="row height-70 question-row">
        <div class="col-md-offset-2 col-sm-offset-1 col-sm-4">
            <center>
                <img src="{{beePath()}}"/>
            </center>
        </div>
        <div class="col-sm-6 va-outer">
            <div class="va-center">
                <p>After completing the round, you will be given a score comparing your performance to everyone else. Out of 100 people answering these questions, where do you think you will rank?</p>
                <p>1 means you scored better than everyone else</p>
                <p>100 means you scored worse than everyone else</p>
                <form ng-submit="startChallenge()">
                    <input class="white rank-input" type="text" placeholder="Rank" ng-model="user.rank"/><br/>
                </form>
                <div class="error" ng-show="user.rank !== undefined && user.rank.length > 0 && !validInput()">
                    <p>Oops! Rank must be a number between 1 to 100</p>
                </div>

                <h2>
                    <span class="blue-text"><p>The better you do the more you get: A bonus of 10 cents on average, upto a maximum of 20 cents</p></span>
                </h2>
            </div>
        </div>
    </div>

    <a class="btn blue next-button"
       ng-click="startChallenge($event)" ng-disabled="!validInput()"
       data-loading-text='<span class="left triangle"></span>Loading...'>
        <span class="left triangle"></span>
        Start challenge!
    </a>
</div>


