<head>
    <title>{{SITE_NAME}} | Challenge</title>
</head>

<div class="task slide">
    <div class="row question-row height-100">
        <div class="col-md-6 question-text-col">
            <div class="slide-left height-100" ng-if="slide_1">
                <div class="height-100" ng-include="'views/challenge/_task_left.html'"></div>
            </div>
            <div class="slide-left height-100" ng-if="slide_2">
                <div class="height-100" ng-include="'views/challenge/_task_left.html'"></div>
            </div>
        </div>

        <div class="col-md-1 hidden-md hidden-xs">
            <div class="text-center progress-col">
                <div ng-repeat="question in questions" ng-style="{top: {{$index * (100 / questions.length)}} + '%'}"
                     class="circle" ng-class="{active: $index <= currQuestion }"></div>
            </div>
        </div>

        <div class="col-sm-12 progress-col-sm hidden-md hidden-lg">
            <div ng-repeat="question in questions" ng-style="{left: {{$index * (100 / questions.length)}} + '%'}"
                 class="circle" ng-class="{active: $index <= currQuestion }"
                 ng-click="setCurrQuestion($index)"></div>
        </div>


        <div class="col-md-5 answer-col">
            <div class="timer-row text-right">
                <div class="times-up-container text-left">
                    <div class="times-up-label animate quick-fade" ng-if="timeLeft === 0">
                        <div class="right triangle"></div>
                        <small>
                            Time is up! Let’s proceed<br/>
                            to the next question!
                        </small>
                    </div>
                </div>
                <div class="timer-block">
                    <div class="timer" id="easypiechart-timer" easypiechart options="timerOptions" percent="timerPercent"></div>
                    <div class="time-left">{{ timeLeft }}</div>
                </div>
            </div>

            <div class="slide-right height-100" ng-if="slide_1">
                <div ng-include="'views/challenge/_task_right.html'" class="height-100"></div>
            </div>
            <div class="slide-right height-100" ng-if="slide_2">
                <div ng-include="'views/challenge/_task_right.html'" class="height-100"></div>
            </div>
        </div>


        <button class="btn blue next-button" ng-disabled="!validInput(selectedAnswer, selectedCL)"
                ng-click="next()"
                data-loading-text='<span class="left triangle"></span>Loading...'>
            <div class="left triangle"></div>
            Next question
        </button>
    </div>
</div>